name: general-ci

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"

jobs:
  lint-commit-messages:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Show logs
        run: git log

      - name: Install gitlint
        run: pip install requests gitlint

      - name: Lint commit messages added to main
        run: gitlint --commits origin/${{ github.event.pull_request.base.ref }}..HEAD

  check-format-rules:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install pre-commit
        run: pip install pre-commit

      - name: run pre-commit
        run: pre-commit run --all-files
